*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Calibri, system-ui, sans-serif;
    color: black;
    background: white;
    padding: 2rem;
}

header {
    margin-bottom: 2rem;
}

#bg {
    position: fixed;
    opacity: 0.05;
    inset: 0;
    z-index: -1;
}

h5 {
    margin-bottom: 0.1rem;
    padding: 0;
    opacity: 0.5;
}

section {
    background: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 6px;
    box-shadow: 0px 0px 5px grey;
}

#content-holder{
    background-color: whitesmoke;
    box-shadow: 0px 0px 25px whitesmoke;
    padding: 10px;
    border-radius: 6px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

input, select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

pre {
    background: #fff;
    color: black;
    padding: 1rem;
    min-height: 2.5rem;
    border: 1px #888 solid;
}

#command-type button {
    margin: 0.5rem;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #888;
    background: #fff;
    cursor: pointer;
    font-weight: 600;
}

#command-type button:hover {
    background: #333;
    color: #eee;
    transition: 0.3s;
}

#command-type button.active {
    background: #333;
    color: #eee;
}

#command-selector button {
    margin: 0.5rem;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #888;
    background: #fff;
    cursor: pointer;
    font-weight: 600;
}

#command-selector button:hover {
    background: #333;
    color: #eee;
    transition: 0.3s;
}

#command-selector button.active {
    background: #333;
    color: #eee;
}

button.generate {
    margin: 0.5rem;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #888;
    background: #fff;
    cursor: pointer;
    font-weight: 600;
}

button.generate:hover {
    background: dodgerblue;
    transition: 0.3s;
}